.fon{
    background-color: brown;
    padding-top: 30px;
}
.half{
    background-color: indianred;
    border: 1px solid wheat;
    color: white;
    text-align: center;
}
.fourth{
    background-color: indianred;
    border: 1px solid wheat;
    color: white;
    text-align: center;
}
.third{
    background-color: indianred;
    border: 1px solid wheat;
    color: white;
    text-align: center;
}
.full{
    background-color: indianred;
    border: 1px solid wheat;
    color: white;
    text-align: center;
}
.six{
    background-color: indianred;
    border: 1px solid wheat;
    color: white;
    text-align: center;
}