.margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
.one{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 4px;
    display: block;
}
.two{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 4px;
    display: block;
}
.three{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: block;
}
.four{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 5px;
   display: block;
}
.five{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: block;
}
.six{
    background-color: crimson;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: block;
}
.seven{
    background-color: crimson;
    text-align: center;
    border-radius:5px ;
    color: white;
    display: block;
}
.eight{
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: block;
}
.nine{
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: block;
}
.ten{
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: block;
}
.eleven{
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: block;
}
.twelve{
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: block;
}