.fon{
    padding: 10px;
}
.one{
    background-color: blueviolet;
    border: 1px solid white;
    text-align: center;
}
.three{
    background-color: blueviolet;
    border: 1px solid white;
    text-align: center;
}
.heh{
    background-color: blueviolet;
    border: 1px solid white;
    text-align: center;
}
.ju{
    background-color: blueviolet;
    border: 1px solid white;
    text-align: center;
}
.ura{
    background-color: blueviolet;
    border: 1px solid white;
    text-align: center;
}